.header {
  display: flex;
  background-color: var(--header-color);
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  width: 100%;
  top: 0px;
}

.header-title {
  font-size: 30px;
  font-family: "Fira Code";
  color: var(--text-color);
  text-decoration: none;
}
